DATABASE_URL="postgresql://bizovix:YOUR_LOCAL_PASSWORD@localhost:5432/bizovix_contractor_erp_db"

JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=

JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

NEXT_PUBLIC_API_URL=http://localhost:4000/api/v1

APP_NAME=Bizovix Contractor ERP
APP_ENV=development
APP_PORT=4000
